/* General and Typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: white; /* Ensures default text is visible on a dark background */
}

a {
    color: white;
    text-decoration: none;
}

/* Header */
header {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    margin-right: 150px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav div {
    flex-grow: 1;
    text-align: center;
}

/* Adjust logo size */
header nav div img {
    max-height: 250px;
    margin: 0 100px;
}

/* Responsive Design */
.menu-icon {
    cursor: pointer;
    border: 2px solid white;
    padding: 5px; 
    border-radius: 5px; 
}
#menu-toggle {
    display: none;
}

/* Media Query for Tablets and Phones */
@media screen and (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    header nav ul.show {
        display: block;
    }

    header nav ul li {
        text-align: center;
    }

    /* Adjustments for Center Logo */
    header nav {
        flex-direction: column;
    }

    header nav div {
        order: -1; /* Puts the logo on top */
    }
    header nav div img {
        max-height: 100px;
        margin: 0 100px;
    }
}
/* -------------------------------------------------------------------- */
/* Hero Section */
#hero {
    position: relative;
    height: 50vw;
    overflow: hidden;
    text-align: center;
}

.hero-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
}

.hero-slider .slide.active {
    opacity: 1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;

    font-size: 25px;
}

#hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}

#hero p {
    margin-bottom: 20px;
}

button {
    border-radius: 25px;
    border: none;
    padding: 20px;
background: black;
color: white;
font-weight: 900;
font-size: 25px;
}

button:hover {
    background-color: #d73937;
}
/*---------------------------------------------------------*/
/* Services Section */
#services {
    padding: 100px 20px;
    text-align: center;
    background-color: #f8f8f8;
    color: black;
}

#services h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
    font-weight: bold;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    margin-bottom: 40px;
    padding: 20px;
    padding-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.service img {
    width: 40%;
    max-width: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.service:nth-child(even) img {
    order: 2;
    margin-left: 20px;
    margin-right: 0;
}

.service-text {
    text-align: center; /* Center the text */
    flex-grow: 1;
}

.service h3 {
    font-size: 1.75em;
    margin-bottom: 15px;
}

.service p {
    margin-bottom: 20px;
}

.service a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d73937;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.service a:hover {
    background-color: #bf3030;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .service {
        flex-direction: column;
        text-align: center;
    }

    .service img {
        width: 80%;
        margin-bottom: 20px;
        order: 1;
    }

    .service-text {
        width: 100%;
    }
    .service a {
        margin-bottom: 10px;
    }
}
@media (max-width: 480px) {
    #services h2 {
        font-size: 2em; /* Smaller font size for headings */
    }

    .service {
        padding: 15px; /* Reduced padding */
    }

    .service img {
        width: 100%; /* Full-width images for better visibility */
    }

    .service h3 {
        font-size: 1.5em; /* Slightly smaller headings */
    }

    .service p {
        font-size: 0.9em; /* Smaller paragraph text */
    }

    .service a {
        padding: 8px 16px; /* Smaller buttons */
        font-size: 0.9em; /* Smaller text on buttons */
        margin-bottom: 10px;
    }
}

/*---------------------------------------------------------*/
#contact-form {
    position: relative;
    z-index: 10; /* To sit on top of other sections */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    margin-top: -50px; /* Adjust to partially overlap the hero image */
    margin-bottom: -50px; /* Adjust to partially overlap the services section */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    color: black;
    font-weight: 800;

}

#contact-form h3, p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #d73937;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 25px
}

.form-group input[type="submit"]:hover {
    background-color: #bf3030;
}

/* Responsive Design */
@media (max-width: 768px) {
    #contact-form {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    #contact-form {
        margin-top: -100px; /* Less overlap for smaller screens */
        margin-bottom: -100px;
    }
}


/*---------------------------------------------------------*/
